{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/media.css' %}">
    {% block css %}

    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="all_content">
        <div class="digi-dolyame-modal"><!--будет анимация при наведение на ссылки-->
        </div>
            <header>
            <div class="header">
                {% block header %}
                <div class="top_header_box_shadow">

                    <div class="top_header">
                        {% block menu_block_sidebar %}
                            <div class="menu_block_sidebar">
                                <header>
                                    <div class="menuop">
		                                <a class="menu-triger"></a>
                                        <div class="menu-popup">
			                                <ul class="menu_popup_ul">
                                                <h3 style="margin-bottom:20px;"><b><a class="men" href="{% url 'home' %}">МУЖЧИНАМ</a></b></h3>
				                                <div class="sidebar_acordion">{% for item in catr %}
                                                <div class="sidebar_category_left"><img class="sidebar_category_left_img" src="{% static 'main/img/arrow.png' %}" width="10"><a class="sidebar_category_left_img_a">{{item.name}}</a></div>
                                                    <div style="display:none;" class="sidebar_subcategory_left">
                                                        {% if item.get_sub_category %}
                                                        <ul>
                                                            {% for child in item.get_sub_category %}
                                                            <li style="padding-bottom:10px;"><a class="sidebar_acordion_ul_li_a" href="{{child.get_absolute_url}}">{{ child.sub }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                </div>
			                                </ul>
		                                </div>
	                                </div>
                                </header>
                            </div>
                        {% endblock %}
                        <div class="search">
                        <form style="width:250px;" class="search_mobile" action="{% url 'search' %}" method="get">
                            <div class="search_mobile_panel">
                                <input src="{% static 'main/img/icons8-поиск-50.png' %}" type="text" placeholder="Поиск" name="q" class="form-control">
                                <img style="padding:3px;" src="{% static 'main/img/icons8-поиск-50.png' %}" width="20">
                            </div>
                        </form>
                    </div>
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'main/img/LogotipGoods2.png' %}" width="130"></a>
                        </div>

                        <div class="cart" style="display:flex;align-items: center;">
                            <div class="delivery">
                                <div><a href="{% url 'delivery' %}">Доставка и оплата</a></div>
                                <div>Пн-Вс:10.00-19.00</div>
                            </div>
                             {% with total_items=cart|length %}
                             {% if cart|length > 0 %}
                            <a href="{% url 'cart:cart_detail' %}">
                                <img src="{% static 'main/img/cart.png' %}" width="40"> <span class="total_items">{{ total_items }}</span>
                            </a>
                             {% else %}
                            <p style="margin-top: 5px;">Корзина пустая</p>
                             {% endif %}
                             {% endwith %}
                        </div>
                    </div>
                </div>
                {% endblock %}
                {% block bottom_header %}
                    <div class="bottom_header">
                        {% for item in catr %}
                            <div class="menu_block"><a href="{{item.get_absolute_url}}">{{item.name}}</a></div>
                        {% endfor %}
                    </div>
                {% endblock %}
                {% block filter_header %}
                    <div class="filter">
                        <div style=""> Результатов: {{ object_list.count }}</div>
                        <div style="display:flex;height: 100%;align-items: center;">
                            <div style="height:100%;display:flex;align-items: center;">
                                <select class="select_filter" name="selectcheck" onchange="SaveSelectValue(this) , location=value">
                                        <option class="option_filter" hidden>Сортировка</option>
                                         <option class="option_filter" value="{% url 'sort' 0 %}"><p>По умолчанию</p></option>
                                        <option class="option_filter" value="{% url 'sort' 1 %}">По дате</option>
                                        <option class="option_filter" value="{% url 'sort' 2 %}">Дешевле</option>
                                        <option class="option_filter" value="{% url 'sort' 3 %}">Дороже</option>
                                </select>
                            </div>
                            {% block filter %}
                            {% endblock %}
                            <div class="three-two_products_each">
                                <div style="width:50px;text-align:center;border-left: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;"><img src="{% static 'main/img/menugrid_85779.png' %}" style="cursor: pointer;" height="17" width="17" class="two_products_each"></div>
                                <div style="width:50px;text-align:center;border-right: 1px solid #e9e9e9;"><img src="{% static 'main/img/app_mobile_menu_grid_icon_226586.png' %}" style="transform: translateY(-2px);cursor: pointer;" height="20" width="20" class="three_products_each"></div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            </header>
        <div class="vesy_content">
            {% block sidebar %}
                <div class="sidebar">
                    <div class="active">
                        <ul class="spisok">
                            {% show_categories '-name' cat_selected %}
                            <ul class="menu_popup_ul">
                                <h3 style="margin-bottom:20px;"><b><a class="men" href="{% url 'home' %}">МУЖЧИНАМ</a></b></h3>
                                <div class="sidebar_acordion">{% for item in catr %}
                                    <div class="sidebar_category_left"><img class="sidebar_category_left_img" src="{% static 'main/img/arrow.png' %}" width="10"><a class="sidebar_category_left_img_a">{{item.name}}</a></div>
                                    <div style="display:none;" class="sidebar_subcategory_left">
                                        {% if item.get_sub_category %}
                                        <ul>
                                            {% for child in item.get_sub_category %}
                                            <li style="padding-bottom:10px;"><a class="sidebar_acordion_ul_li_a" href="{{child.get_absolute_url}}">{{ child.sub }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                            </ul>
                        </ul>
                    </div>
                </div>
            {% endblock %}
            {% block content %}
                {% block konfedensiy %}
                {% endblock %}
                {% block delivery %}
                {% endblock %}
            {% endblock %}

        </div>
        <div class="footer">
            <div style="display:flex;justify-content: space-evenly;margin-top:2%;">
                <div class="container_footer">
                    <p>Для клиентов</p>
                    <p><a href="{% url 'cart:cart_detail' %}">Оформить заказ</a></p>
                    <p>Вопросы и ответы</p>
                    <p><a href="{% url 'personal_data' %}">Обработка персональных данных</a></p>
                </div>
                <div>
                    <p>О нас</p>
                    <p>О компании</p>
                </div>
                <div>
                    <p>Информация</p>
                    <p>Доставка</p>
                    <p>Возврат</p>
                    <p>Публичная оферта</p>
                    <p>Пользовательское соглашение </p>
                    <p><a href="{% url 'about' %}">Политика конфиденциальности персональных данных</a></p>
                    <p>Документы</p>
                </div>
                <div>
                    <p>Контакты</p>
                    <p>Номер</p>
                    <p>Почта</p>
                    <p>Место</p>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'main/js/jquery-3.6.3.js' %}"></script>
        <script src="{% static 'main/js/menu.js' %}"></script>
    {% endblock %}
</body>
</html>