{% extends 'main/base.html' %}
{% block filter_header %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block delivery %}
<div class="politika_and_konf delivery_content">
    <h1 style="text-align:left;">Доставка:</h1>
    <p>Доставка осуществляется по территории Российской Федерации.</p><br>
    <h2>САРАТОВ</h2>
    <p>
        По Саратову доставка осуществляется бесплатно* собственной службой доставки НАЗВАНИЕ ФИРМЫ обычно в течение 1-2 дней после подтверждения заказа.
    </p>
    <p>Вы можете примерить вещи из вашего заказа в момент доставки и оплатить только те товары, которые Вам понравились и подошли. </p>
    <p>*При полном отказе оплачивается только стоимость доставки 100 руб.</p>
    <p>Примерка может быть осуществлена только в помещениях, допускающих присутствие курьера. Передача заказа для примерки вне зоны видимости курьера (например, в зданиях с контрольно-пропускным режимом, общественных местах и т.д.) возможна только после внесения залога в размере 100% от стоимости заказа вместе с доставкой.</p><br>
    <h2>ДРУГИЕ РЕГИОНЫ РОССИИ:</h2>
    <p>В другие регионы России, доставка** осуществляется почтой</p>
    <p>в течение 5-10 рабочих дней после подтверждения заказа и по 100% предоплате.</p>
    <p>В случае отказа от покупки клиент самостоятельно оформляет возврат выбранной курьерской службой на адрес офиса НАЗВАНИЕ ФИРМЫ за свой счет.</p>
    <h5>**Стоимость доставки рассчитывается по тарифу курьерской службы.</h5><br>
    <h2>УСЛОВИЯ ДОСТАВКИ:</h2>
    <p>Мы обязательно свяжемся с вами заранее, чтобы уточнить удобное для вас время доставки.</p>
    <p>При необходимости вы можете изменить дату или адрес доставки в любое время до приезда курьера. Для этого просто сообщите о своём решении операторам call-центра по телефону: НОМЕР ТЕЛЕФОНА</p>
    <p>Обращаем ваше внимание, что в случае изменения даты или адреса в назначенный день доставки, Вам будет предложена ближайшая возможная дата доставки.</p><br>
    <h2>ОПЛАТА:</h2>
    <p>Вы можете оплатить заказ наличными или перевести на карту курьеру в момент доставки. Чек находится внутри посылки.</p><br>
    <h4>Если у вас есть какие-либо вопросы касательно процедуры оплаты, свяжитесь с нашими специалистами по телефону: НОМЕР ТЕЛЕФОНА</h4>
</div>
{% endblock %}