{% extends 'main/base.html' %}
{% block filter_header %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block konfedensiy %}
    <div class="politika_and_konf">
        <h1>ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
        Физическое лицо, заполняя форму на интернет-сайте Название сайта.com, а так же на иных сайтах ООО «Название сайта», обязуется принять настоящее Согласие на обработку персональных данных (далее – Согласие). Принятием Согласия является заполнение формы на интернет-сайте.<br><br>
        Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, физическое лицо дает свое согласие ООО «Название сайта», которому принадлежит сайт Название сайта.com и иные сайты и которое расположено по адресу......., на обработку своих персональных данных со следующими условиями:<br><br>
        <ol>
            <li>Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.</li>
            <li>Согласие дается на обработку следующих моих персональных данных:</li>
            <ul class="about_ul" type="circle">
                <li>Персональные данные, не являющиеся специальными или биометрическими:</li>
                <li>номера контактных телефонов;</li>
                <li>адреса электронной̆ почты;</li>
                <li>место работы и занимаемая должность;</li>
                <li>пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана;</li>
                <li>источник откуда пришел на сайт пользователь;</li>
                <li>с какого сайта или по какой рекламе; язык ОС и Браузера;</li>
                <li>какие страницы открывает и на какие кнопки нажимает пользователь;</li>
                <li>ip-адрес.</li>
            </ul>
            <li>Следующие персональные данные являются общедоступными: персональные данные не являются общедоступными.</li>
            <li>Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.</li>
            <li>В ходе обработки с персональными данными будут совершены следующие действия: хранение, использование, удаление.</li>
            <li>Следующие третьи лица обрабатывают предоставленные персональные данные по поручению ООО «НИКИ.ФИЛИНИ»: таковых нет.</li>
            <li>Персональные данные обрабатываются до ликвидации организации. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</li>
            <li>Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления ООО «НАзвание сайта» или его представителю по адресу, указанному в начале данного Согласия.</li>
            <li>В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных ООО «НАзвание сайта» вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.</li>
            <li>Настоящий документ – это публичная оферта (предложение) интернет-магазина «НАзвание сайта» о продаже товаров</li>
        </ol>
    </div>
{% endblock %}